<main class="edit">
    <!-- Edit Page (Only for logged-in users) -->
    <section id="edit">
        <div class="form">
            <h2>Edit item</h2>
            <form class="edit-form" method="post" action="/stones/{{this._id}}/edit">
                <input type="text" name="name" id="name" placeholder="Name" value="{{this.name}}" />
                <input type="text" name="category" id="category" placeholder="Category" value="{{this.category}}" />
                <input type="text" name="color" id="color" placeholder="Color" value="{{this.color}}" />
                <input type="text" name="image" id="stone-img" placeholder="Image" value="{{this.image}}" />
                <input type="text" name="location" id="location" placeholder="Location" value="{{this.location}}" />
                <input type="text" name="formula" id="formula" placeholder="Formula" value="{{this.formula}}" />
                <textarea id="description" placeholder="Description..." name="description">{{this.description}}</textarea>
                <button type="submit">Edit</button>
            </form>
        </div>
    </section>
</main>
